body{
    background-color: beige;
    padding: 1%;
}
standardname{
    font-size: x-large;
    font-weight: bold;
}
tag{
    padding: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: bolder;
}

